/**
* @name SGA Font
* @version 1.0
* @author Grey'#0001
* @description SGA Font
* @source https://github.com/GijsPampiermole/Discord-Font-Plugin
*/

@font-face {
    font-family: 'sga';
    src: url('Whitney-Book.ttf');
}

:root {
    --font-primary: 'sga' !important;
    --font-display: 'sga' !important;
}
