/**
* @name SGA Font
* @version 1.0
* @author Agro388'#0001
* @description SGA Font
* @source https://github.com/Agro388/SGA-DiscordFont
*/

@font-face {
    font-family: 'sga';
    /* Looks for the local file in your client's directory */
    src: url('sga.ttf') format('truetype');
}

:root {
    --font-primary: 'sga' !important;
    --font-display: 'sga' !important;
}
